doctype html
html(lang="en-US")
  head
    title=title
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    div#top
      p#lbltopleft
        a(href='/home') Punch Beginner
        |         
        a(href='/createproject') Create Project
      p#lbltopmid 
        | #{currentUser}
      p#lbltopright
        |         
        a#logstatus(href='#{logstat}') #{logstat}
        |         
        a#sign(href='/signup') Sign up
    div#head
      h1
        b Community Fund
        br
        | Improve Your Community!
    div.buttonHolder
      button.logInButton(
        id="btnLogin"
        type="button"
        title="#{logmsg}"
        onclick="location.href = '#{logstat}'"
      ) #{logmsg}
      button.signUpButton(
        id="btnSignup"
        type="button"
        title="Sign up for a free account!"
        href='/signup'
        onclick="location.href = '/signup'"
      ) Sign Up
    br
    form(id="frmsearch", name="search", method="post")
      div.search
        span.label Search for a project here:  
        input(type="text"
              name="title"
              id="txtsearch"
              placeholder="Search..."
              required
              )
        input(type="submit"
              value="Search"
              id="btnsearch"
              )
