doctype html
html(lang="en-US")
  head
    title=title
    link(rel="stylesheet", href="stylesheets/main.css")
  body(onload="loadUsername()")
    div#top
      p#lbltopleft
        a(href='/home') Punch Beginner
        |         
        a(href='/createproject') Create Project
      p#lbltopright
        |         
        a#logstatus(href='/login') Log in
        |         
        a#sign(href='/signup') Sign up
      p#lbltopmid #{currentUser}
    div#head
      h1
        b Community Fund
        br
        | Improve Your Community!
    div.buttonHolder
      button.logInButton(
        type="button"
        title="Log in to create or view your fundraising project"
        onclick="location.href = '/login'"
      ) Log In
      button.signUpButton(
        type="button"
        title="Sign up for a free account!"
        href='/signup'
        onclick="location.href = '/signup'"
      ) Sign Up
    br
    form(id="frmsearch", name="search", method="post")
      div.search
        span.label Search for a project here:  
        input(type="text"
              name="title"
              id="txtsearch"
              placeholder="Search..."
              required
              )
        input(type="submit"
              value="Search"
              id="btnsearch"
              )
    div#pics
      h2
        | Project Title
      div.photobanner
        img.first(src='/images/p1.jpg' 
          alt="pun1"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p2.jpg' 
          alt="pun2"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p3.jpg' 
          alt="pun3"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p4.jpg' 
          alt="pun4"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p5.jpg' 
          alt="pun5"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p6.jpg' 
          alt="pun6"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p1.jpg' 
          alt="pun1"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p2.jpg' 
          alt="pun2"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p3.jpg' 
          alt="pun3"
          style="width: 350px; height: 233px"
        )
        img(src='/images/p4.jpg' 
          alt="pun4"
          style="width: 350px; height: 233px"
        )
    