doctype html
html(lang="en-US")
	head
		title=title
		link(rel="stylesheet", href="stylesheets/style.css")
		link(rel="stylesheet", href="stylesheets/main.css")
		script(type="text/javascript", src="javascripts/login.js")
	body(onload="checkError()")
		div#container.center
			h1 
				| Log in
			p(id="errMessage")
				| Insert username and password below.
			form(id="accInfoLog" name="accInfoLog" method="post", action='/login')
				input(type="text"
							name="username"
							placeholder="username"
							required
							)
				br
				input(type="password"
							name="password"
							placeholder="password"
							required
							)
				input(type="submit"
							name="login"
							value="Log in"
							id="btnLogin"
							class="logInSignUpCreate"
							)
		div.doThisInstead
			p
				| Don't have an account? 
				a(href="/signup") Sign up instead