doctype html
html(lang="en-US")
	head
		title=title
		link(rel="stylesheet", href="stylesheets/style.css")
		
	body
		h1 #{projtitle}
		
		p #{projdesc}
			
		img(id="projpic" src='/images/p1.jpg' alt="pun2" 
			style="width: 350px; height: 233px")
		
		p
			| Location:

		p Deadline: #{projdeadline}	
			
		p Amount Raised: $#{projcurfunds} of $#{projgoal}
		
		p(id="projrate")
			| Rating:
		
		button(id="btnRate")
			| Rate
		button(id="btnDonate")
			| Donate
		button(id="btnGoBack")
			| Go Back