doctype html
html(lang="en-US")
	head
		title=title
		link(rel="stylesheet", href="stylesheets/style.css")
		link(rel="stylesheet", href="stylesheets/main.css")
	body
		div#container.center
			h1 
				| Create an account
			form(id="accInfo" name="accInfo" method="post", action='/signup')
				input(type="text"
							name="email"
							placeholder="email"
							required
							)
				br
				input(type="text"
							name="username"
							placeholder="username"
							required
							)
				br
				input(type="password"
							name="password"
							placeholder="password"
							required
							)
				br
				input(type="password"
							name="password2"
							placeholder="password confirmation"
							required
							)
				input(type="submit"
							name="signup"
							value="Sign up"
							id="btnsignUp"
							class="logInSignUpCreate"
							)
		div.doThisInstead
			p
				| Already a member? 
				a(href="/login") Log in instead